header {
    list-style-position: inside;
}

.container {
    width: 99%;
    margin: auto;
}

.box-1 {
    background-color: lightblue;
    border: 2px black solid;  
    border-radius: 5px;
    padding: 0;
    width: 99%;
    margin: auto;
    text-align: left;
}

.box-1 h2 {
    text-align: left;
    padding-top: 5px;
    margin-left: 35%;
}

.box-1 ol {
    text-align: left;
    list-style-position: inside;
}

.box-1 li {
    text-align: left;
    padding-top: 5px;
    margin-left: 40%;
}

.box-2 h2 {
    text-align: left;
    padding-top: 5px;
    margin-left: 35%;
}

.box-2 {
    background-color: lightblue;
    border: 2px black solid;  
    border-radius: 5px;
    padding: 0;
    width: 99%;
    margin: auto;
    text-align: left;
}

.reqinfo {
    text-align: left;
    padding-top: 5px;
    position: absolute;
    left: 40%;
}

.brandinfo, .modelinfo, .fninfo, .lninfo, .resinfo, .eminfo, .coinfo  {
    text-align: left;
    position: absolute;
    left: 105%;
}

.submit {
    padding: 260px 0 15px 0;
    text-align: center;
}

footer {
    margin-top: 1px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center; 
}

.socmedlink {
    display: inline-block;

}
.box-3 {
    margin-top: 150px;
    position: relative;
    right: 0;
    bottom: 25px;
    left: 0;
    padding: 10px;
    text-align: center;
}

.box-3 label {
    text-align: center;
}

