.container {
    width: 99%;
    margin: auto;
}

body {
    background-image: url('Images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#navbar ul { 
    text-align: center;
    padding: none;
    margin: none;
}

#navbar li {
    display: inline; 
    text-align: center;   
}

.box-1 {
    background-color: lightblue;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    border: 1px black solid;  
    border-radius: 5px;
    padding: 0;
    width: 99%;
    margin: auto;
    text-align: left;
    background-color: transparent;
    font-size: 22px;
}

.box-1 h2 {
    text-align: center;
    padding-top: 5px;
    width: 390px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.box-1 ol {
    text-align: left;
    list-style-position: inside;
}

.box-1 li {
    text-align: left;
    padding-top: 5px;
    width: 200px;
    margin: auto;
}

.box-2 h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 330px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.box-2 {
    background-color: lightblue;
    background-color: transparent;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    border: 1px black solid;  
    border-radius: 5px;
    padding: 0;
    width: 99%;
    margin: auto;
    text-align: left;
    font-size: 22px;
}

.reqinfo {
    text-align: left;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.brandinfo, .modelinfo, .fninfo, .lninfo, .resinfo, .eminfo, .coinfo  {
    float: right;
    position: absolute;
    left: 55%;
}

select {
    width: 107px;
}

.submit {
    padding: 10px 0 15px 0;
    text-align: center;
}

footer {
    margin-top: 1px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center; 
    color: whitesmoke;
    border: 1px black solid;  
    border-radius: 5px;
}

.socmedlink {
    display: inline-block;

}
.box-3 {
    margin-top: 150px;
    position: relative;
    right: 0;
    bottom: 25px;
    left: 0;
    padding: 10px;
    text-align: center;
}

.box-3 label {
    text-align: center;
}

